/*CSS for all pages*/

body {
    background-color: #53644fce;
    align-items: center;
    width: 100%;
    margin: 0;
}

header{
    background-color:#15480B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color:#15480B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 40px;
}

.home-page{
    border-radius: 20px;
}

footer{
    border-radius: 10px;
    background-color: #463213;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer p {
    color: #e0d3b9;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, label, button, legend, th {
    color: #e0d3b9;
    font-family: "Mate SC", serif;
}

h1 {
    font-size: 40pt;
}

h2, legend{
    font-size: 28pt;
    text-align: center;
    padding-top: 10px;
}

p, input, textarea, ::placeholder, td{
    font-family: "Krub", sans-serif;
    font-size: 11pt;
}

.logo-and-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
}

#logo{
    width: 150px;
    margin: 15px;
}

.login-form{
    margin: 0;
    
}

.login-fieldset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
}

.login-input input{
    width: 150px;
    margin-right: 5px;
}

button{
    background-color: #8f4218;
    border: none;
    color: #e0d3b9;
    padding: 10px;
    border-radius: 5px;
}

input, textarea{
    color: #15480B;
    background-color: #e0d3b9;
    border-style: none;
}

button:hover{
    background-color: #463213;
    color: #e0d3b9;
}

button:active{
    background-color: #463213;
    color: #8f4218;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
    margin-bottom: 10px;
}

nav li{
    border: 5px solid #8f4218;
    background-color: #e0d3b9;
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 10px 0;
}

nav li a{
    color: #463213;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

nav li a:hover{
    color: #8f4218;
}

.active{
    background-color: #8f4218;
}

.active a{
    color: #e0d3b9;
}

.active a:hover{
    color: #463213;
}


/*CSS for home page*/

.home-text{
    text-align: center;
    width: 700px;
    margin: auto;
}
.carousel{
    width: 700px;
    margin: auto;
}

.carousel button{
    background: none;
}

.carousel-item{
    border-radius: 20px;
}

.carousel-caption p, h5{
    color: #e0d3b9;
    background-color: #463213;
    opacity: 0.85;
    margin: 0;
}

.carousel-caption p{
    border-radius: 0px 0px 15px 15px;
}

.carousel-caption h5{
    border-radius: 15px 15px 0px 0px;
}

.news-section{
    background-color: #15480B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.news-headline{
    font-size: 40px;
}

.news-article{
    width: 700px;
    display: flex;
    margin-bottom: 15px;
    background-color: #463213;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

.news-image{
    margin-right: 10px;
    border:5px solid #8f4218;
    border-radius: 15px;
}

/*CSS for events page*/
table{
    color: #e0d3b9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

table td, table th{
    border: 1px solid #e0d3b9;    
}

table th{
    text-align: center;
    background-color: #8f4218;
    color: #e0d3b9;
    font-size: 17px;
}

table td{
    width: 12%;
    padding: 5px;
    font-size: 10pt;
}

Table tr:nth-child(even){
    background-color: #e0d3b9;
    color: #15480B;
}

Table tr:nth-child(even){
    background-color: #e0d3b9;
    color: #15480B;
}

Table tr:hover{
    background-color: #463213;
    color: #e0d3b9;
    cursor: pointer;
}

.event-fieldset {
    color: #e0d3b9;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.event-input{
    display: flex;
    justify-content: space-between;
    align-items:  center;
}

.event-input input, textarea{
    width: 200px;

    margin: 5px;
    max-height: 100px;
    min-height: 24px;
}

.event-fieldset button{
    width: 200px;
    align-self: center;
    margin-top: 5px;
}

/*CSS for contact page*/
.contact-fieldset {
    color: #e0d3b9;
    border-style: none;
}

#contact-columns {
    display: flex;
}

#column-right, #column-left {
    width: 50%;
    padding-bottom: 10px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-input label{
    padding-right: 20px;
}

.contact-input {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.contact-form button {
    width: 100%;
    margin-top: 7px;
    align-self: flex-start;
}

#form_outcome{
    margin-top: 10px;
    text-align: center;
}

[type = text] {
    background-color: #e0d3b9;
    border-style: none;
}

#column-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
} 

.twitter-timeline{
    padding-top: 5px;
}

/*CSS for gallery page*/

.gallery-container{
    padding: 5px;
    margin: auto;
} 

.gallery-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-object{
    width: 30%;
    padding: 5px;
}

.gallery-object img{
    width: 100%;
}


/*CSS for members page*/

.members-container{
    width: 100%;
    margin: 0;
}

.members-row{
    display: flex;
    justify-content: center;
}

.member{
    text-align: center;
    margin: 10px 20px;
    background-color: #463213;
    width: 340px;
    border-radius: 20px;
}

.member-img{
    width: 250px;
    margin: 5px;
}

.member-title{
    margin-bottom: 5px;
    font-size: 25px;
}

.member-name{
    margin-top: 5px;
    font-size: 20px;
    font-style: italic;
}

/*Patterns*/

.pattern-type-header{
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    margin: 0;
}

.patterns-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
}

.pattern{
    width: 49%;
    display: flex;
    background-color: #463213;
    padding: 20px;
    margin-top: 15px;
    border-radius: 20px;
}

.pattern-image{
    width: 300px;
    border:5px solid #8f4218;
    border-radius: 15px;
    margin-right: 10px;
}

.pattern a{
    margin-top: 30px;
}

.pattern-link{
    font-size: 20px;
    text-decoration: none;
    background-color: #8f4218;
    padding: 15px;
    border-radius: 5px;
}

.pattern-link:hover{
    background-color: #e0d3b9;
    color: #463213;
}

.pattern-link:active{
    background-color: #e0d3b9;
    color: #8f4218;
}

.pattern-link-button{
    margin-top: 30px;
}

/*Useful Resources*/

.resources-title{
    padding: 10px;
}

.youtube-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.youtube{
    width:400px;
    height: 225px;
    border: 5px solid #463213;
    margin: 5px;
}

.helpful-images-container{
    display: flex;
    width: 850px;
    margin: auto;
    justify-content: space-between;
}

.helpful-images{
    height: 400px;
}

.website-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}

.helpful-website-frame{
    width: 40%;
    height: 575px;
}

.helpful-website-list{
    list-style: none;
    width: 40%;
    height: 575px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

}



