/*CSS for all pages*/
body {
    background-color: #53644fce;
    align-items: center;
    
}

header{
    background-color:#15480B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.logo-and-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

#logo{
    width: 200px;
    margin: 15px;
}

.login-form{
    width: 50%;
    margin: 0;
}

.login-fieldset{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

h1, h2, h3, h4, h5, h6, p, a{
    color: #e0d3b9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}

h1 {
    font-size: 36pt;
}

h3{
    font-size: 26pt;
    
}

p{
    font-size: 11pt;
}

main{
    background-color:#15480B;
    border-radius: 10px;
}

aside{
    background-color: #15480B;
    border-radius: 10px;
}

footer{
    border-radius: 10px;
    background-color: #463213;
}

footer p {
    color: #e0d3b9;
}


ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0;
}

nav li{
    border: 5px solid #8f4218;
    background-color: #e0d3b9;
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 10px 0;
}

nav li a{
    color: #463213;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

nav li a:hover{
    color: #8f4218;
}

.active{
    background-color: #8f4218;
}

.active a{
    color: #e0d3b9;
}

.active a:hover{
    color: #463213;
}

/*CSS for home page*/
.carousel{
    width: 700px;
    margin: auto;
}

.carousel-caption p, h5{
    color: #e0d3b9;
    background-color: #463213;
    opacity: 0.85;
    margin: 0;
}

.carousel-caption p{
    border-radius: 0px 0px 15px 15px;
}

.carousel-caption h5{
    border-radius: 15px 15px 0px 0px;
}

/*CSS for events page*/
table{
    color: #e0d3b9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

table td, table th{
    border: 1px solid #e0d3b9;
}

Table tr:nth-child(even){
    background-color: #e0d3b9;
    color: #15480B;
}

Table tr:hover{
    background-color: #463213;
    color: #e0d3b9;
}

Table th{
    background-color: #8f4218;
    color: #e0d3b9;
}

.contact-fieldset {
    color: #e0d3b9;
    border-style: none;
}

.contact-page-header {
    font-size: 30px;
}

/*CSS for contact page*/
legend {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
}

#contact-columns {
    display: flex;
}

#column-right, #column-left {
    width: 50%;
    text-align: center;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-input{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.contact-input input {
    background-color: #e0d3b9;
    border-style: none;
}

/*CSS for members page*/
.col{
    width: 30%;
    padding: 5px;
}

.col img{
    width: 100%;
}

.container{
    padding: 5px;
} 

.members-container{
    width: 100%;
    margin: 0;
}

.member-img{
    width: 250px;
}

.col-sm{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.col-sm h5{
    background-color: #e0d3b9;
    color: #15480B;
    padding: 5px;  
    border-radius: 5px;
}

.member-title{
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 600;
}

.member-name{
    margin-top: 5px;
    font-size: 20px;
    font-style: italic;
}